<p>
    <em>Author:</em> <strong> {{ quote.publisher }} </strong> <br>
    <button class="btn btn-danger" (click)='quoteComplete(true)'>
      Delete
    </button>
  
    &nbsp;
  
    <button class="btn btn-primary" (click)="likeButtonClick()">
      upVotes
      {{upVotes}}
    </button>
  
    &nbsp;
  
    <button class="btn btn-success" (click)="dislikeButtonClick()">
      downVotes
      {{downVotes}}
    </button>
    
  </p>
  <!-- <p>{{quote.publisher}}</p> -->
<!-- <button (click)= 'quoteComplete(true)'>Complete</button> -->
