<!-- <div class="container-fluid myForm">
    <h2 class="text-center">Submit here</h2>
    <hr>
    <br>
    <form (ngSubmit)='submitQuotes()' #quoteForm='ngModel' action="">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="ngForm" [(ngModel)]="newQuotes.publisher" name="publisher"
                #author='ngModel' placeholder="Erick Otieno" required>

            <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">

                <p>Publisher name required</p>

            </div>
        </div>

        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea id="quote" rows="8" class="form-control" placeholder="please enter your quote here"
                [(ngModel)]="newQuotes.name" name="name" #name='ngModel' required></textarea>

            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">

                <p>You must write the quote</p>

            </div> -->

            <!-- Adding the user -->

            <!-- {{newQuotes.name}} -->
        <!-- </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Post</button>
        </div>
    </form> <br>
    <div class="text">
        <p>
            “It is not the size of the dog in the fight, but the size of the fight in the dog.”
            <em><strong>– Archie Griffen</strong></em>
        </p>
        <br>
        <p>
            “Nothing lasts forever. Not even your troubles.”
            <em><strong>– Arnold H Glasgow</strong></em>
        </p>
        <br>
        <p>
            “It took me a long time not to judge myself through someone elses eyes.”
            <em><strong>– Sally Field</strong></em>
        </p>
        <br>
        <p>
            “Hope never abandons you, you abandon it.”
            <em><strong>– George Weinberg</strong></em>
        </p>
        <br>
        <p class="text-center">
            Congratulations for scoring angular quotes. <br>
            All Rights Reserved 2021&copy;
        </p>
    </div>
</div> -->
<div class="container-fluid">
    <h2 class="text-center">Create a new Goal</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="complete">Completion</label>
            <input type='date' id="complete" required>
  
        </div>
    </form>
  </div>