.h-1 {
    background-color: palevioletred;
}

.main-pg {
    background-color: green;
    height: fit-content;
}

.dark {
    background-color: indianred;
}

/* .col-1 {
    height: 280px important!;
} */